{
  "trailingComma": "all",
  "tabWidth": 2,
  "printWidth": 100,
  "jsxBracketSameLine": false,
  "semi": false,
  "singleQuote": true,
  "arrowParens": "always",
  "endOfLine": "auto",
  "jsxSingleQuote": true
}
