@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

table td:first-child {
  border-radius: 4px 0 0 4px;
}

table td:last-child {
  border-radius: 0 4px 4px 0;
}

body {
  @apply bg-dark;
}

@layer components {
  .btn {
    @apply flex items-center gap-3 ease-in duration-100
  }

  .btn-base {
    @apply btn py-2 px-4 text-gray hover:text-white;
  }

  .btn-primary {
    @apply btn bg-green text-white rounded-full hover:brightness-110
  }
  .btn-secondary {
    @apply btn bg-transparent text-white rounded-full border-white border-2 hover:bg-white hover:text-black
  }

  .btn-small {
    @apply px-3 py-1 text-sm font-semibold
  }
  .btn-default {
    @apply px-6 py-2 text-base font-semibold
  }
  .btn-large {
    @apply px-7 py-3 text-lg font-semibold
  }

  .text-trim {
    @apply text-ellipsis overflow-hidden whitespace-nowrap
  }

  .scrollbar::-webkit-scrollbar {
    width: 12px;
  }
  
  .scrollbar::-webkit-scrollbar-track {
    @apply bg-black
  }
  
  .scrollbar::-webkit-scrollbar-thumb {
    background: #595959;
  }
  
  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #8c8c8c;
  }


  @media(min-width: 640px) {
    .playlist-header {
      width: calc(100vw - 300px);
    }
  }

  @media(min-width: 768px) {
    .playlist-header {
      width: calc(100vw - 600px);
    }
  }
}
